
  .range_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
  }
  
  .sliders_control {
    position: relative;
    min-height: 50px;
  }
  
  
  
  .sliders_control input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    height: 1.7em;
    width: 1.7em;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
  }
  
  .sliders_control input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    height: 1.7em;
    width: 1.7em;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;  
  }
  
  .sliders_control input[type=range]::-webkit-slider-thumb:hover {
    background: #f7f7f7;
  }
  
  .sliders_control input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  }
  
  .sliders_control input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
  }
  
  #fromSlider {
    height: 0;
    z-index: 1;
  }



 