<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="css/filter.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/commonstyle.css"> 
    <link rel="stylesheet" href="css/commonstyle.css"> 
    <link rel="stylesheet" href="css/slider.css"> 
    <link rel="stylesheet" href="css/header-footer/style.css" />
    <link rel="stylesheet" href="css/header-footer/responsive.css" />
   <!--<link rel="stylesheet" href="css/ionic.css">--> 
  
</head>
<body ng-controller="MainCtrl" class="grade-a platform-browser platform-win32 platform-ready" style="margin:auto">
    
      <div class="client-html">
        <header class="header">
        <div class="container">
          <div class="h-content">
            <div class="h-left">
                <img src="image/logo.svg" alt="logo"/>
            </div>
            <br><br>
            <div class="h-right">
              <ul>
                  <a
                    href="https://apps.apple.com/lv/app/rumah-i/id1545736171"
                    target="_blank">
                    <img
                      src="image/appstore.png"
                      alt="app-store"
                    />
                  </a>
                  <a
                    href="https://play.google.com/store/apps/details?id=com.app.rumahi"
                    target="_blank"
                  >
                    <img
                      src="image/google.png"
                      alt="google-play"
                      class="img-responsive"
                    />
                  </a>
                </li>
              </ul>
            </div>
            
          </div>
           
        </div>
      </header>
      </div>
      
      <div class="search" id="searchBar" style="position:relative">
        <img src="img/search.svg">
        <span class="filter"  onclick="showFilter()" style="position: absolute; right: 2rem; top: 1.3rem; ">Filter</span>
        <input type="text" placeholder="Type location" name="location" value="Room for Rent in Kuala Lumpur" >
      </div>


          <!-- Filter part -->
          <div id="filterToggle" class="white-bg pdl-10 pdr-10" style="display:none;" >
            <div scroll="false" class="flex pdl-20 pdr-20" ng-show="filter.display" style="background: transparent;">
                <i class="fa fa-close" style="font-size:30px;margin-top: 10px;" onclick="closeFilter()"></i>
                <label class="" style="font-size: 26px;font-weight: 600; padding-left:15px ;margin-top: 20px;">Filter</label>
                <label class="opacity-50 font-18 text-right width-100 pdt-20 pull-right" style="text-align:right;" onclick="reset()">Reset</label>
              </div>
              
              <div class="content pdl-20 pdr-20 pdt-15"  has-bouncing="false" ng-show="filter.display">
                <!--<h3 class="font-18">Property Location</h3>
                <input type="text" class="round-corner-box mrt-15 mrb-15 width-100" options="autoCompleteOption" placeholder="Type location" ng-model="formData.location" g-places-autocomplete force-selection="true" name="location">-->
                <h3 class="font-18">Property Type <span class="pull-right thm-text font-16" onclick="clearSelection('propertyType')">Clear</span></h3>
                <div class="width-100" id="propertyType">
                  <!-- ngRepeat: v in propertyTypes --><button type="button" class="filter-selection-btn" ng-repeat="v in propertyTypes" ng-click="setValue('property_type',v)" >House</button>
                  <!-- end ngRepeat: v in propertyTypes --><button type="button" class="filter-selection-btn " ng-repeat="v in propertyTypes"  ng-click="setValue('property_type',v)">Flat</button>
                  <!-- end ngRepeat: v in propertyTypes --><button type="button" class="filter-selection-btn"  ng-repeat="v in propertyTypes" ng-click="setValue('property_type',v)" >Apartment</button>
                  <!-- end ngRepeat: v in propertyTypes --><button type="button" class="filter-selection-btn"  ng-repeat="v in propertyTypes" ng-click="setValue('property_type',v)" >Condominium</button>
                  <!-- end ngRepeat: v in propertyTypes --><button type="button" class="filter-selection-btn"  ng-repeat="v in propertyTypes" ng-click="setValue('property_type',v)" >Studio</button>
                  <!-- end ngRepeat: v in propertyTypes --><button type="button" class="filter-selection-btn"  ng-repeat="v in propertyTypes" ng-click="setValue('property_type',v)" >Townhouse</button>
                  <!-- end ngRepeat: v in propertyTypes --><button type="button" class="filter-selection-btn" ng-repeat="v in propertyTypes" ng-click="setValue('property_type',v)" >Terrace</button>
                  <!-- end ngRepeat: v in propertyTypes --><button type="button" class="filter-selection-btn" ng-repeat="v in propertyTypes" ng-click="setValue('property_type',v)" >Semi-D</button>
                  <!-- end ngRepeat: v in propertyTypes --><button type="button" class="filter-selection-btn" ng-repeat="v in propertyTypes" ng-click="setValue('property_type',v)" >Bungalow</button>
                  <!-- end ngRepeat: v in propertyTypes -->
                </div>
                <h3 class="font-18 pdt-15">Room Type <span class="pull-right thm-text font-16" onclick="clearSelection('roomType')">Clear</span></h3>
                <div class="width-100" id="roomType" onclick="">
                  <!-- ngRepeat: v in roomTypes --><button type="button" class="filter-selection-btn " ng-repeat="v in roomTypes" ng-click="setValue('room_type',v)">Single</button><!-- end ngRepeat: v in roomTypes --><button type="button" class="filter-selection-btn " ng-repeat="v in roomTypes" ng-click="setValue('room_type',v)">Medium</button><!-- end ngRepeat: v in roomTypes --><button type="button" class="filter-selection-btn " ng-repeat="v in roomTypes" ng-click="setValue('room_type',v)">Master</button><!-- end ngRepeat: v in roomTypes --><button type="button" class="filter-selection-btn " ng-repeat="v in roomTypes" ng-click="setValue('room_type',v)">Duplex</button><!-- end ngRepeat: v in roomTypes --><button type="button" class="filter-selection-btn " ng-repeat="v in roomTypes" ng-click="setValue('room_type',v)">Entire Unit</button><!-- end ngRepeat: v in roomTypes -->
                </div>
                <h3 class="font-18 pdt-15">Preference <span class="pull-right thm-text font-16" onclick="clearSelection('preference')">Clear</span></h3>
                <div class="width-100" id="preference">
                  <!-- ngRepeat: v in preferences --><button type="button" class="filter-selection-btn " ng-repeat="v in preferences" ng-click="setValue('preference',v)">Mixed Gender</button><!-- end ngRepeat: v in preferences --><button type="button" class="filter-selection-btn " ng-repeat="v in preferences" ng-click="setValue('preference',v)">Male</button><!-- end ngRepeat: v in preferences --><button type="button" class="filter-selection-btn " ng-repeat="v in preferences" ng-click="setValue('preference',v)">Female</button><!-- end ngRepeat: v in preferences -->
                </div>
                <h3 class="font-18 mrt-30">Price</h3>
                <!-- <div class="wrapper">
                    <div class="container">
                        <div class="slider-track"></div>
                        <input type="range" min="0" max="10000" value="30" id="slider-1" oninput="slideOne()">
                        <input type="range" min="0" max="10000" value="700" id="slider-2" oninput="slideTwo()">
                    </div>
                </div> -->
                
                <!-- <div class="slider1container">
                  <div class="slider-1">
                    <div class="track"></div>
                  </div>
                  <div class="output o0"> </div>
                  <div class="thumb t0"></div>
                
                  <div class="output o1"> </div>
                  <div class="thumb t1"></div>
                </div> -->
                <div class="range_container">
                  <div class="sliders_control">
                      <input id="fromSlider"  type="range" value="0" min="0" max="10000"/>
                      <input id="toSlider"  type="range" value="4000" min="0" max="10000"/>
                  </div>
                  <div class="sliderValue" style="position:relative;top:-25px;">
                    <span style="top: 23">RM 0</span>
                    <span>RM 10000</span>
                  </div>
                  
              </div>

                <h3 class="font-18 mrt-30">Distance from me</h3>
                <div class="width-100" class='sliderContainer'>
                    
                    <input type="range" min="0" max="50" value="0" step="1" id="myRange" class="slider" id="custom-slider"
                    style="visibility: visible; width: 872px; left: 61px;left: 0;
                    z-index: 1;
                    width: 100%;
                    height: 32px;
                    box-sizing: border-box;
                    transition: all linear .3s;
                    cursor:pointer; 
                    padding: 0px"
                    >
                    <div class="sliderValue">
                      <span>km 0</span>
                      <span>km 50</span>
                    </div>
                    
                  
                </div>
                

                <h3 class="font-18 mrt-30">Commute</h3>
                <div class="width-100" id="commute">
                  <!-- ngRepeat: v in commutes --><button type="button" class="filter-selection-btn " ng-repeat="v in commutes" ng-click="addCommute(v)">Nearby</button><!-- end ngRepeat: v in commutes --><button type="button" class="filter-selection-btn " ng-repeat="v in commutes" ng-click="addCommute(v)">MRT</button><!-- end ngRepeat: v in commutes --><button type="button" class="filter-selection-btn " ng-repeat="v in commutes" ng-click="addCommute(v)">LRT</button><!-- end ngRepeat: v in commutes --><button type="button" class="filter-selection-btn " ng-repeat="v in commutes" ng-click="addCommute(v)">KTM</button><!-- end ngRepeat: v in commutes --><button type="button" class="filter-selection-btn " ng-repeat="v in commutes" ng-click="addCommute(v)">Monorail</button><!-- end ngRepeat: v in commutes --><button type="button" class="filter-selection-btn " ng-repeat="v in commutes" ng-click="addCommute(v)">Bus Station</button><!-- end ngRepeat: v in commutes -->
                </div>
                <h3 class="font-18 mrt-30">Amenities</h3>
                <div class="width-100 flex flex-dc">
                  <!-- ngRepeat: v in amenities --><div class="flex mrt-10" ng-repeat="v in amenities" onclick="addTick(this)" ng-click="addAmenities(v)"><label class="font-16 opacity-70 width-70 ng-binding">Air-conditioning</label><i class="fa fa-square-o font-26 pdl-10"></i></div>
                  <!-- end ngRepeat: v in amenities --><div class="flex mrt-10" ng-repeat="v in amenities" onclick="addTick(this)" ng-click="addAmenities(v)"><label class="font-16 opacity-70 width-70 ng-binding">Wifi</label><i class="fa fa-square-o font-26 pdl-10"></i></div>
                  <!-- end ngRepeat: v in amenities --><div class="flex mrt-10" ng-repeat="v in amenities" onclick="addTick(this)" ng-click="addAmenities(v)"><label class="font-16 opacity-70 width-70 ng-binding">Washing Machine</label><i class="fa fa-square-o font-26 pdl-10"></i></div>
                  <!-- end ngRepeat: v in amenities --><div class="flex mrt-10" ng-repeat="v in amenities" onclick="addTick(this)" ng-click="addAmenities(v)"><label class="font-16 opacity-70 width-70 ng-binding">Cooking Allowed</label><i class="fa fa-square-o font-26 pdl-10"></i></div>
                  <!-- end ngRepeat: v in amenities --><div class="flex mrt-10" ng-repeat="v in amenities" onclick="addTick(this)" ng-click="addAmenities(v)"><label class="font-16 opacity-70 width-70 ng-binding">Individual Meter Reader</label><i class="fa fa-square-o font-26 pdl-10"></i></div>
                  <!-- end ngRepeat: v in amenities --><div class="flex mrt-10" ng-repeat="v in amenities" onclick="addTick(this)" ng-click="addAmenities(v)"><label class="font-16 opacity-70 width-70 ng-binding">Mini Market</label><i class="fa fa-square-o font-26 pdl-10"></i></div>
                  <!-- end ngRepeat: v in amenities --><div class="flex mrt-10" ng-repeat="v in amenities" onclick="addTick(this)" ng-click="addAmenities(v)"><label class="font-16 opacity-70 width-70 ng-binding">Swimming Pool</label><i class="fa fa-square-o font-26 pdl-10"></i></div>
                  <!-- end ngRepeat: v in amenities --><div class="flex mrt-10" ng-repeat="v in amenities" onclick="addTick(this)" ng-click="addAmenities(v)"><label class="font-16 opacity-70 width-70 ng-binding">Gymnasium</label><i class="fa fa-square-o font-26 pdl-10"></i></div>
                  <!-- end ngRepeat: v in amenities --><div class="flex mrt-10" ng-repeat="v in amenities" onclick="addTick(this)" ng-click="addAmenities(v)"><label class="font-16 opacity-70 width-70 ng-binding">24hrs Security</label><i class="fa fa-square-o font-26 pdl-10"></i></div>
                  <!-- end ngRepeat: v in amenities --><div class="flex mrt-10" ng-repeat="v in amenities" onclick="addTick(this)" ng-click="addAmenities(v)"><label class="font-16 opacity-70 width-70 ng-binding">Playground</label><i class="fa fa-square-o font-26 pdl-10"></i></div>
                  <!-- end ngRepeat: v in amenities --><div class="flex mrt-10" ng-repeat="v in amenities" onclick="addTick(this)" ng-click="addAmenities(v)"><label class="font-16 opacity-70 width-70 ng-binding">Sarau</label><i class="fa fa-square-o font-26 pdl-10"></i></div>
                  <!-- end ngRepeat: v in amenities -->
                </div>
                <h3 class="font-18 mrt-30">Furnished Status</h3>
                <div class="width-100 pdt-10">
                  <div class="flex" id="statHeader">
                    <label ng-click="formData.furnished_status = 'Unfurnished';" class="pdt-10 pdb-10 width-33 text-center " style="border: 1px solid #adadad;border-radius: 5px 0px 0px 5px;">Unfurnished</label>
                    <label ng-click="formData.furnished_status = 'Furnished';" class="pdt-10 pdb-10 width-33 text-center" style="border: 1px solid #adadad;">Furnished</label>
                    <label ng-click="formData.furnished_status = 'Semi Furnished';" class="pdt-10 pdb-10 width-33 text-center " style="border: 1px solid #adadad;border-radius: 0px 5px 5px 0px;">Semi Furnished</label>
                  </div>
                </div>
                <h3 class="font-18 mrt-30">No of Rooms</h3>
                <div class="width-100" style="position: relative;">
                  <select class="round-corner-box pdt-15 pdb-15 pdr-30 mrt-15 mrb-15 width-100 black-text ng-pristine ng-untouched ng-valid ng-empty" id="roomNum" ng-model="formData.rooms">
                    <option value="" style="color:black" selected="selected">select</option>
                    <option value="1" style="color:black">1</option>
                    <option value="2" style="color:black">2</option>
                    <option value="3" style="color:black">3</option>
                  </select>
                  <i class="fa fa-angle-down" style="position: absolute; top: 0.95rem; right: 2%; background: #fff; font-size: 21px; padding: 10px; border-radius: 25px;"></i>
                </div>
                <h3 class="font-18 mrt-30">Minimum Size</h3>
                <div class="width-100" style="position: relative;">
                  <input type="number" id="sqftInput" class="round-corner-box mrt-15 mrb-15 width-100 ng-pristine ng-untouched ng-valid ng-empty" ng-model="formData.size" placeholder="Enter Area">
                  <span style="height: 48px;position: relative; float: right; top: -65px; right: 22px; background: #fff; border-left: 1px solid #ddd;  padding: 14px;">Sq.Ft.</span>
                </div>
                <button class="btn width-100 btn-shadow mrt-10 mrb-40 fw-600" onclick="closeFilter()">Apply Filter</button>
              </div>
        </div>
        <div id="bodyPart">
          <br>
          <h1 >Room for Rent in Kuala Lumpur </h1>
        
          <p>If you are seeking a room for rent in Kuala Lumpur, we are here to help you find one that best suits your wants and needs. When it comes to vibrant metropolitan life, the capital city of Malaysia is unparalleled – staying here is unlike any other place in the world.</p>
          <div class="content pdt-15" has-bouncing="false" id='listView' ng-show="!mapview &amp;&amp; !filter.display" style="display:none">
            <div class="listview" ng-show="properties.length > 0" style="">
              <div class="white-bg flex flex-dc pdb-20">
                <div class="flex mrl-15 mrr-15 width-100">
                  <h2 class="pdt-15 ng-binding">21 results found</h2>
                </div>
                <div class="flex flex-dc width-100">
                  <!-- ngRepeat: (k,v) in properties --><div ng-repeat="(k,v) in properties" class="flex white-bg width-100 mrt-10 mrb-10" style="">
                    <!-- <a ng-if="!v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="img/sample/default.png" class="list-img" style="max-width: 100%;">
                    </a>
                    <a ng-if="v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="{{v.pictures.image}}" class="list-img" style="max-width: 100%;">
                    </a> -->
                    <!-- ngIf: !v.pictures -->
                    <!-- ngIf: v.pictures --><img ng-if="v.pictures" ng-click="openDetail(v.id)" src="https://admin.rumah-i.com/uploads/properties/6151502d166a5.jpeg" class="list-img" style="max-width: 46%;"><!-- end ngIf: v.pictures -->
                    <div class="flex flex-dc br-5 pdl-15 pdr-15 pdt-15 pdb-15" style="width: 54%;">
                      <div class="flex width-100">
                        <div class="flex flex-dc width-90" ng-click="openDetail(v.id)">
                          <label class="font-16 ng-binding">Spacious Studio in Dorsett Sri Hartamas Hotel</label>
                          <span class="opacity-50 ng-binding"> Federal Territory of Kuala Lumpur, Malaysia</span>
                          <label class="fw-600 font-18 mrt-10 ng-binding">RM 1800</label>
                        </div>
                      </div>
                      <div ng-click="openDetail(v.id)" class="pdt-10 pdb-10 opacity-50 ng-binding">
                        1BR <i class="fa fa-circle font-8"></i> 1BA <i class="fa fa-circle font-8"></i> 560 Sq. ft.
                      </div>
                    </div>
                  </div><!-- end ngRepeat: (k,v) in properties --><div ng-repeat="(k,v) in properties" class="flex white-bg width-100 mrt-10 mrb-10 ng-enter-prepare">
                    <!-- <a ng-if="!v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="img/sample/default.png" class="list-img" style="max-width: 100%;">
                    </a>
                    <a ng-if="v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="{{v.pictures.image}}" class="list-img" style="max-width: 100%;">
                    </a> -->
                    <!-- ngIf: !v.pictures -->
                    <!-- ngIf: v.pictures --><img ng-if="v.pictures" ng-click="openDetail(v.id)" src="https://admin.rumah-i.com/uploads/properties/618a4f986ce1c.jpeg" class="list-img" style="max-width: 46%;"><!-- end ngIf: v.pictures -->
                    <div class="flex flex-dc br-5 pdl-15 pdr-15 pdt-15 pdb-15" style="width: 54%;">
                      <div class="flex width-100">
                        <div class="flex flex-dc width-90" ng-click="openDetail(v.id)">
                          <label class="font-16 ng-binding">*Cheapest Studio* at Windsor Tower Sri Hartam...</label>
                          <span class="opacity-50 ng-binding"> Wilayah Persekutuan Kuala Lumpur, Malaysia</span>
                          <label class="fw-600 font-18 mrt-10 ng-binding">RM 1150</label>
                        </div>
                      </div>
                      <div ng-click="openDetail(v.id)" class="pdt-10 pdb-10 opacity-50 ng-binding">
                        1BR <i class="fa fa-circle font-8"></i> 1BA <i class="fa fa-circle font-8"></i> 640 Sq. ft.
                      </div>
                    </div>
                  </div><!-- end ngRepeat: (k,v) in properties --><div ng-repeat="(k,v) in properties" class="flex white-bg width-100 mrt-10 mrb-10 ng-enter-prepare">
                    <!-- <a ng-if="!v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="img/sample/default.png" class="list-img" style="max-width: 100%;">
                    </a>
                    <a ng-if="v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="{{v.pictures.image}}" class="list-img" style="max-width: 100%;">
                    </a> -->
                    <!-- ngIf: !v.pictures -->
                    <!-- ngIf: v.pictures --><img ng-if="v.pictures" ng-click="openDetail(v.id)" src="https://admin.rumah-i.com/uploads/properties/632d3c1ad58b5.jpeg" class="list-img" style="max-width: 46%;"><!-- end ngIf: v.pictures -->
                    <div class="flex flex-dc br-5 pdl-15 pdr-15 pdt-15 pdb-15" style="width: 54%;">
                      <div class="flex width-100">
                        <div class="flex flex-dc width-90" ng-click="openDetail(v.id)">
                          <label class="font-16 ng-binding">D28 Master Room @ D28 Damansara, Bukit Damans...</label>
                          <span class="opacity-50 ng-binding"> Wilayah Persekutuan Kuala Lumpur, Malaysia</span>
                          <label class="fw-600 font-18 mrt-10 ng-binding">RM 897</label>
                        </div>
                      </div>
                      <div ng-click="openDetail(v.id)" class="pdt-10 pdb-10 opacity-50 ng-binding">
                        1BR <i class="fa fa-circle font-8"></i> 1BA <i class="fa fa-circle font-8"></i> 130 Sq. ft.
                      </div>
                    </div>
                  </div><!-- end ngRepeat: (k,v) in properties --><div ng-repeat="(k,v) in properties" class="flex white-bg width-100 mrt-10 mrb-10 ng-enter-prepare">
                    <!-- <a ng-if="!v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="img/sample/default.png" class="list-img" style="max-width: 100%;">
                    </a>
                    <a ng-if="v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="{{v.pictures.image}}" class="list-img" style="max-width: 100%;">
                    </a> -->
                    <!-- ngIf: !v.pictures -->
                    <!-- ngIf: v.pictures --><img ng-if="v.pictures" ng-click="openDetail(v.id)" src="https://admin.rumah-i.com/uploads/properties/6336756bd2a85.jpeg" class="list-img" style="max-width: 46%;"><!-- end ngIf: v.pictures -->
                    <div class="flex flex-dc br-5 pdl-15 pdr-15 pdt-15 pdb-15" style="width: 54%;">
                      <div class="flex width-100">
                        <div class="flex flex-dc width-90" ng-click="openDetail(v.id)">
                          <label class="font-16 ng-binding">"iZERO Deposit" Studio 1Bedroom @ Publika Sol...</label>
                          <span class="opacity-50 ng-binding"> Wilayah Persekutuan Kuala Lumpur, Malaysia</span>
                          <label class="fw-600 font-18 mrt-10 ng-binding">RM 2200</label>
                        </div>
                      </div>
                      <div ng-click="openDetail(v.id)" class="pdt-10 pdb-10 opacity-50 ng-binding">
                        1BR <i class="fa fa-circle font-8"></i> 1BA <i class="fa fa-circle font-8"></i> 450 Sq. ft.
                      </div>
                    </div>
                  </div><!-- end ngRepeat: (k,v) in properties --><div ng-repeat="(k,v) in properties" class="flex white-bg width-100 mrt-10 mrb-10 ng-enter-prepare">
                    <!-- <a ng-if="!v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="img/sample/default.png" class="list-img" style="max-width: 100%;">
                    </a>
                    <a ng-if="v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="{{v.pictures.image}}" class="list-img" style="max-width: 100%;">
                    </a> -->
                    <!-- ngIf: !v.pictures -->
                    <!-- ngIf: v.pictures --><img ng-if="v.pictures" ng-click="openDetail(v.id)" src="https://admin.rumah-i.com/uploads/properties/6138bfc7d6954.jpeg" class="list-img" style="max-width: 46%;"><!-- end ngIf: v.pictures -->
                    <div class="flex flex-dc br-5 pdl-15 pdr-15 pdt-15 pdb-15" style="width: 54%;">
                      <div class="flex width-100">
                        <div class="flex flex-dc width-90" ng-click="openDetail(v.id)">
                          <label class="font-16 ng-binding">Shared Single Room in Bukit Prima Pelangi, Ku...</label>
                          <span class="opacity-50 ng-binding"> Wilayah Persekutuan Kuala Lumpur, Malaysia</span>
                          <label class="fw-600 font-18 mrt-10 ng-binding">RM 550</label>
                        </div>
                      </div>
                      <div ng-click="openDetail(v.id)" class="pdt-10 pdb-10 opacity-50 ng-binding">
                        1BR <i class="fa fa-circle font-8"></i> 1BA <i class="fa fa-circle font-8"></i> 102 Sq. ft.
                      </div>
                    </div>
                  </div><!-- end ngRepeat: (k,v) in properties --><div ng-repeat="(k,v) in properties" class="flex white-bg width-100 mrt-10 mrb-10 ng-enter-prepare">
                    <!-- <a ng-if="!v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="img/sample/default.png" class="list-img" style="max-width: 100%;">
                    </a>
                    <a ng-if="v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="{{v.pictures.image}}" class="list-img" style="max-width: 100%;">
                    </a> -->
                    <!-- ngIf: !v.pictures -->
                    <!-- ngIf: v.pictures --><img ng-if="v.pictures" ng-click="openDetail(v.id)" src="https://admin.rumah-i.com/uploads/properties/617fb29dbdfc6.jpeg" class="list-img" style="max-width: 46%;"><!-- end ngIf: v.pictures -->
                    <div class="flex flex-dc br-5 pdl-15 pdr-15 pdt-15 pdb-15" style="width: 54%;">
                      <div class="flex width-100">
                        <div class="flex flex-dc width-90" ng-click="openDetail(v.id)">
                          <label class="font-16 ng-binding">NEWLY Entire Unit at Scenaria Kiara, North Ki...</label>
                          <span class="opacity-50 ng-binding"> Wilayah Persekutuan Kuala Lumpur, Malaysia</span>
                          <label class="fw-600 font-18 mrt-10 ng-binding">RM 1800</label>
                        </div>
                      </div>
                      <div ng-click="openDetail(v.id)" class="pdt-10 pdb-10 opacity-50 ng-binding">
                        3BR <i class="fa fa-circle font-8"></i> 2BA <i class="fa fa-circle font-8"></i> 1019 Sq. ft.
                      </div>
                    </div>
                  </div><!-- end ngRepeat: (k,v) in properties --><div ng-repeat="(k,v) in properties" class="flex white-bg width-100 mrt-10 mrb-10 ng-enter-prepare">
                    <!-- <a ng-if="!v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="img/sample/default.png" class="list-img" style="max-width: 100%;">
                    </a>
                    <a ng-if="v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="{{v.pictures.image}}" class="list-img" style="max-width: 100%;">
                    </a> -->
                    <!-- ngIf: !v.pictures -->
                    <!-- ngIf: v.pictures --><img ng-if="v.pictures" ng-click="openDetail(v.id)" src="https://admin.rumah-i.com/uploads/properties/61da700ea38be.jpeg" class="list-img" style="max-width: 46%;"><!-- end ngIf: v.pictures -->
                    <div class="flex flex-dc br-5 pdl-15 pdr-15 pdt-15 pdb-15" style="width: 54%;">
                      <div class="flex width-100">
                        <div class="flex flex-dc width-90" ng-click="openDetail(v.id)">
                          <label class="font-16 ng-binding">Royal Regent in Jalan Kuching</label>
                          <span class="opacity-50 ng-binding"> Federal Territory of Kuala Lumpur, Malaysia</span>
                          <label class="fw-600 font-18 mrt-10 ng-binding">RM 1700</label>
                        </div>
                      </div>
                      <div ng-click="openDetail(v.id)" class="pdt-10 pdb-10 opacity-50 ng-binding">
                        2BR <i class="fa fa-circle font-8"></i> 2BA <i class="fa fa-circle font-8"></i> 1125 Sq. ft.
                      </div>
                    </div>
                  </div><!-- end ngRepeat: (k,v) in properties --><div ng-repeat="(k,v) in properties" class="flex white-bg width-100 mrt-10 mrb-10 ng-enter-prepare">
                    <!-- <a ng-if="!v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="img/sample/default.png" class="list-img" style="max-width: 100%;">
                    </a>
                    <a ng-if="v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="{{v.pictures.image}}" class="list-img" style="max-width: 100%;">
                    </a> -->
                    <!-- ngIf: !v.pictures -->
                    <!-- ngIf: v.pictures --><img ng-if="v.pictures" ng-click="openDetail(v.id)" src="https://admin.rumah-i.com/uploads/properties/60d2c953731d0.jpeg" class="list-img" style="max-width: 46%;"><!-- end ngIf: v.pictures -->
                    <div class="flex flex-dc br-5 pdl-15 pdr-15 pdt-15 pdb-15" style="width: 54%;">
                      <div class="flex width-100">
                        <div class="flex flex-dc width-90" ng-click="openDetail(v.id)">
                          <label class="font-16 ng-binding">Private Entire Unit in Desa Kiara Condominium...</label>
                          <span class="opacity-50 ng-binding"> Wilayah Persekutuan Kuala Lumpur, Malaysia</span>
                          <label class="fw-600 font-18 mrt-10 ng-binding">RM 1700</label>
                        </div>
                      </div>
                      <div ng-click="openDetail(v.id)" class="pdt-10 pdb-10 opacity-50 ng-binding">
                        3BR <i class="fa fa-circle font-8"></i> 2BA <i class="fa fa-circle font-8"></i> 1200 Sq. ft.
                      </div>
                    </div>
                  </div><!-- end ngRepeat: (k,v) in properties --><div ng-repeat="(k,v) in properties" class="flex white-bg width-100 mrt-10 mrb-10 ng-enter-prepare">
                    <!-- <a ng-if="!v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="img/sample/default.png" class="list-img" style="max-width: 100%;">
                    </a>
                    <a ng-if="v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="{{v.pictures.image}}" class="list-img" style="max-width: 100%;">
                    </a> -->
                    <!-- ngIf: !v.pictures -->
                    <!-- ngIf: v.pictures --><img ng-if="v.pictures" ng-click="openDetail(v.id)" src="https://admin.rumah-i.com/uploads/properties/631710c8862a7.jpeg" class="list-img" style="max-width: 46%;"><!-- end ngIf: v.pictures -->
                    <div class="flex flex-dc br-5 pdl-15 pdr-15 pdt-15 pdb-15" style="width: 54%;">
                      <div class="flex width-100">
                        <div class="flex flex-dc width-90" ng-click="openDetail(v.id)">
                          <label class="font-16 ng-binding">*6951723* Single Room at Desa Kiara Condo</label>
                          <span class="opacity-50 ng-binding"> Wilayah Persekutuan Kuala Lumpur, Malaysia</span>
                          <label class="fw-600 font-18 mrt-10 ng-binding">RM 550</label>
                        </div>
                      </div>
                      <div ng-click="openDetail(v.id)" class="pdt-10 pdb-10 opacity-50 ng-binding">
                        1BR <i class="fa fa-circle font-8"></i> 0BA <i class="fa fa-circle font-8"></i> 100 Sq. ft.
                      </div>
                    </div>
                  </div><!-- end ngRepeat: (k,v) in properties --><div ng-repeat="(k,v) in properties" class="flex white-bg width-100 mrt-10 mrb-10 ng-enter-prepare">
                    <!-- <a ng-if="!v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="img/sample/default.png" class="list-img" style="max-width: 100%;">
                    </a>
                    <a ng-if="v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="{{v.pictures.image}}" class="list-img" style="max-width: 100%;">
                    </a> -->
                    <!-- ngIf: !v.pictures -->
                    <!-- ngIf: v.pictures --><img ng-if="v.pictures" ng-click="openDetail(v.id)" src="https://admin.rumah-i.com/uploads/properties/61cad0793ae20.jpeg" class="list-img" style="max-width: 46%;"><!-- end ngIf: v.pictures -->
                    <div class="flex flex-dc br-5 pdl-15 pdr-15 pdt-15 pdb-15" style="width: 54%;">
                      <div class="flex width-100">
                        <div class="flex flex-dc width-90" ng-click="openDetail(v.id)">
                          <label class="font-16 ng-binding">Private Single Room</label>
                          <span class="opacity-50 ng-binding"> Wilayah Persekutuan Kuala Lumpur, Malaysia</span>
                          <label class="fw-600 font-18 mrt-10 ng-binding">RM 600</label>
                        </div>
                      </div>
                      <div ng-click="openDetail(v.id)" class="pdt-10 pdb-10 opacity-50 ng-binding">
                        0BR <i class="fa fa-circle font-8"></i> 0BA <i class="fa fa-circle font-8"></i> 100 Sq. ft.
                      </div>
                    </div>
                  </div><!-- end ngRepeat: (k,v) in properties --><div ng-repeat="(k,v) in properties" class="flex white-bg width-100 mrt-10 mrb-10 ng-enter-prepare">
                    <!-- <a ng-if="!v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="img/sample/default.png" class="list-img" style="max-width: 100%;">
                    </a>
                    <a ng-if="v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="{{v.pictures.image}}" class="list-img" style="max-width: 100%;">
                    </a> -->
                    <!-- ngIf: !v.pictures -->
                    <!-- ngIf: v.pictures --><img ng-if="v.pictures" ng-click="openDetail(v.id)" src="https://admin.rumah-i.com/uploads/properties/633daffa9e7b5.jpeg" class="list-img" style="max-width: 46%;"><!-- end ngIf: v.pictures -->
                    <div class="flex flex-dc br-5 pdl-15 pdr-15 pdt-15 pdb-15" style="width: 54%;">
                      <div class="flex width-100">
                        <div class="flex flex-dc width-90" ng-click="openDetail(v.id)">
                          <label class="font-16 ng-binding">Private Single Room</label>
                          <span class="opacity-50 ng-binding"> Wilayah Persekutuan Kuala Lumpur, Malaysia</span>
                          <label class="fw-600 font-18 mrt-10 ng-binding">RM 600</label>
                        </div>
                      </div>
                      <div ng-click="openDetail(v.id)" class="pdt-10 pdb-10 opacity-50 ng-binding">
                        1BR <i class="fa fa-circle font-8"></i> 1BA <i class="fa fa-circle font-8"></i> 150 Sq. ft.
                      </div>
                    </div>
                  </div><!-- end ngRepeat: (k,v) in properties --><div ng-repeat="(k,v) in properties" class="flex white-bg width-100 mrt-10 mrb-10 ng-enter-prepare">
                    <!-- <a ng-if="!v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="img/sample/default.png" class="list-img" style="max-width: 100%;">
                    </a>
                    <a ng-if="v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="{{v.pictures.image}}" class="list-img" style="max-width: 100%;">
                    </a> -->
                    <!-- ngIf: !v.pictures -->
                    <!-- ngIf: v.pictures --><img ng-if="v.pictures" ng-click="openDetail(v.id)" src="https://admin.rumah-i.com/uploads/properties/6279bfa11f3b6.jpeg" class="list-img" style="max-width: 46%;"><!-- end ngIf: v.pictures -->
                    <div class="flex flex-dc br-5 pdl-15 pdr-15 pdt-15 pdb-15" style="width: 54%;">
                      <div class="flex width-100">
                        <div class="flex flex-dc width-90" ng-click="openDetail(v.id)">
                          <label class="font-16 ng-binding">*1004* Private Medium Room in Desa Kiara Cond...</label>
                          <span class="opacity-50 ng-binding"> Wilayah Persekutuan Kuala Lumpur, Malaysia</span>
                          <label class="fw-600 font-18 mrt-10 ng-binding">RM 650</label>
                        </div>
                      </div>
                      <div ng-click="openDetail(v.id)" class="pdt-10 pdb-10 opacity-50 ng-binding">
                        1BR <i class="fa fa-circle font-8"></i> 0BA <i class="fa fa-circle font-8"></i> 150 Sq. ft.
                      </div>
                    </div>
                  </div><!-- end ngRepeat: (k,v) in properties --><div ng-repeat="(k,v) in properties" class="flex white-bg width-100 mrt-10 mrb-10 ng-enter-prepare">
                    <!-- <a ng-if="!v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="img/sample/default.png" class="list-img" style="max-width: 100%;">
                    </a>
                    <a ng-if="v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="{{v.pictures.image}}" class="list-img" style="max-width: 100%;">
                    </a> -->
                    <!-- ngIf: !v.pictures -->
                    <!-- ngIf: v.pictures --><img ng-if="v.pictures" ng-click="openDetail(v.id)" src="https://admin.rumah-i.com/uploads/properties/6337a840a80da.jpeg" class="list-img" style="max-width: 46%;"><!-- end ngIf: v.pictures -->
                    <div class="flex flex-dc br-5 pdl-15 pdr-15 pdt-15 pdb-15" style="width: 54%;">
                      <div class="flex width-100">
                        <div class="flex flex-dc width-90" ng-click="openDetail(v.id)">
                          <label class="font-16 ng-binding">Fully Furnished Studio near KLCC/Pavilion, on...</label>
                          <span class="opacity-50 ng-binding"> Federal Territory of Kuala Lumpur, Malaysia</span>
                          <label class="fw-600 font-18 mrt-10 ng-binding">RM 1800</label>
                        </div>
                      </div>
                      <div ng-click="openDetail(v.id)" class="pdt-10 pdb-10 opacity-50 ng-binding">
                        1BR <i class="fa fa-circle font-8"></i> 1BA <i class="fa fa-circle font-8"></i> 500 Sq. ft.
                      </div>
                    </div>
                  </div><!-- end ngRepeat: (k,v) in properties --><div ng-repeat="(k,v) in properties" class="flex white-bg width-100 mrt-10 mrb-10 ng-enter-prepare">
                    <!-- <a ng-if="!v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="img/sample/default.png" class="list-img" style="max-width: 100%;">
                    </a>
                    <a ng-if="v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="{{v.pictures.image}}" class="list-img" style="max-width: 100%;">
                    </a> -->
                    <!-- ngIf: !v.pictures -->
                    <!-- ngIf: v.pictures --><img ng-if="v.pictures" ng-click="openDetail(v.id)" src="https://admin.rumah-i.com/uploads/properties/6128726d10078.jpeg" class="list-img" style="max-width: 46%;"><!-- end ngIf: v.pictures -->
                    <div class="flex flex-dc br-5 pdl-15 pdr-15 pdt-15 pdb-15" style="width: 54%;">
                      <div class="flex width-100">
                        <div class="flex flex-dc width-90" ng-click="openDetail(v.id)">
                          <label class="font-16 ng-binding">*ZERO deposit* Shared Single Room (Sang Suria...</label>
                          <span class="opacity-50 ng-binding"> Wilayah Persekutuan Kuala Lumpur, Malaysia</span>
                          <label class="fw-600 font-18 mrt-10 ng-binding">RM 550</label>
                        </div>
                      </div>
                      <div ng-click="openDetail(v.id)" class="pdt-10 pdb-10 opacity-50 ng-binding">
                        4BR <i class="fa fa-circle font-8"></i> 2BA <i class="fa fa-circle font-8"></i> 1200 Sq. ft.
                      </div>
                    </div>
                  </div><!-- end ngRepeat: (k,v) in properties --><div ng-repeat="(k,v) in properties" class="flex white-bg width-100 mrt-10 mrb-10 ng-enter-prepare">
                    <!-- <a ng-if="!v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="img/sample/default.png" class="list-img" style="max-width: 100%;">
                    </a>
                    <a ng-if="v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="{{v.pictures.image}}" class="list-img" style="max-width: 100%;">
                    </a> -->
                    <!-- ngIf: !v.pictures -->
                    <!-- ngIf: v.pictures --><img ng-if="v.pictures" ng-click="openDetail(v.id)" src="https://admin.rumah-i.com/uploads/properties/6198be50c61dc.jpeg" class="list-img" style="max-width: 46%;"><!-- end ngIf: v.pictures -->
                    <div class="flex flex-dc br-5 pdl-15 pdr-15 pdt-15 pdb-15" style="width: 54%;">
                      <div class="flex width-100">
                        <div class="flex flex-dc width-90" ng-click="openDetail(v.id)">
                          <label class="font-16 ng-binding">Private Master Room At Megah Court Apartment</label>
                          <span class="opacity-50 ng-binding"> Wilayah Persekutuan Kuala Lumpur, Malaysia</span>
                          <label class="fw-600 font-18 mrt-10 ng-binding">RM 800</label>
                        </div>
                      </div>
                      <div ng-click="openDetail(v.id)" class="pdt-10 pdb-10 opacity-50 ng-binding">
                        1BR <i class="fa fa-circle font-8"></i> 1BA <i class="fa fa-circle font-8"></i> 150 Sq. ft.
                      </div>
                    </div>
                  </div><!-- end ngRepeat: (k,v) in properties --><div ng-repeat="(k,v) in properties" class="flex white-bg width-100 mrt-10 mrb-10 ng-enter-prepare">
                    <!-- <a ng-if="!v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="img/sample/default.png" class="list-img" style="max-width: 100%;">
                    </a>
                    <a ng-if="v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="{{v.pictures.image}}" class="list-img" style="max-width: 100%;">
                    </a> -->
                    <!-- ngIf: !v.pictures -->
                    <!-- ngIf: v.pictures --><img ng-if="v.pictures" ng-click="openDetail(v.id)" src="https://admin.rumah-i.com/uploads/properties/6198c3be9c2d4.jpeg" class="list-img" style="max-width: 46%;"><!-- end ngIf: v.pictures -->
                    <div class="flex flex-dc br-5 pdl-15 pdr-15 pdt-15 pdb-15" style="width: 54%;">
                      <div class="flex width-100">
                        <div class="flex flex-dc width-90" ng-click="openDetail(v.id)">
                          <label class="font-16 ng-binding">Private Medium Room Megah Court Apartment, Ja...</label>
                          <span class="opacity-50 ng-binding"> Wilayah Persekutuan Kuala Lumpur, Malaysia</span>
                          <label class="fw-600 font-18 mrt-10 ng-binding">RM 680</label>
                        </div>
                      </div>
                      <div ng-click="openDetail(v.id)" class="pdt-10 pdb-10 opacity-50 ng-binding">
                        1BR <i class="fa fa-circle font-8"></i> 1BA <i class="fa fa-circle font-8"></i> 130 Sq. ft.
                      </div>
                    </div>
                  </div><!-- end ngRepeat: (k,v) in properties --><div ng-repeat="(k,v) in properties" class="flex white-bg width-100 mrt-10 mrb-10 ng-enter-prepare">
                    <!-- <a ng-if="!v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="img/sample/default.png" class="list-img" style="max-width: 100%;">
                    </a>
                    <a ng-if="v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="{{v.pictures.image}}" class="list-img" style="max-width: 100%;">
                    </a> -->
                    <!-- ngIf: !v.pictures -->
                    <!-- ngIf: v.pictures --><img ng-if="v.pictures" ng-click="openDetail(v.id)" src="https://admin.rumah-i.com/uploads/properties/6198c2be2e6ee.jpeg" class="list-img" style="max-width: 46%;"><!-- end ngIf: v.pictures -->
                    <div class="flex flex-dc br-5 pdl-15 pdr-15 pdt-15 pdb-15" style="width: 54%;">
                      <div class="flex width-100">
                        <div class="flex flex-dc width-90" ng-click="openDetail(v.id)">
                          <label class="font-16 ng-binding">Private Single Room at Megah Court Apartment....</label>
                          <span class="opacity-50 ng-binding"> Wilayah Persekutuan Kuala Lumpur, Malaysia</span>
                          <label class="fw-600 font-18 mrt-10 ng-binding">RM 580</label>
                        </div>
                      </div>
                      <div ng-click="openDetail(v.id)" class="pdt-10 pdb-10 opacity-50 ng-binding">
                        1BR <i class="fa fa-circle font-8"></i> 1BA <i class="fa fa-circle font-8"></i> 100 Sq. ft.
                      </div>
                    </div>
                  </div><!-- end ngRepeat: (k,v) in properties --><div ng-repeat="(k,v) in properties" class="flex white-bg width-100 mrt-10 mrb-10 ng-enter-prepare">
                    <!-- <a ng-if="!v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="img/sample/default.png" class="list-img" style="max-width: 100%;">
                    </a>
                    <a ng-if="v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="{{v.pictures.image}}" class="list-img" style="max-width: 100%;">
                    </a> -->
                    <!-- ngIf: !v.pictures -->
                    <!-- ngIf: v.pictures --><img ng-if="v.pictures" ng-click="openDetail(v.id)" src="https://admin.rumah-i.com/uploads/properties/627b3803119da.jpeg" class="list-img" style="max-width: 46%;"><!-- end ngIf: v.pictures -->
                    <div class="flex flex-dc br-5 pdl-15 pdr-15 pdt-15 pdb-15" style="width: 54%;">
                      <div class="flex width-100">
                        <div class="flex flex-dc width-90" ng-click="openDetail(v.id)">
                          <label class="font-16 ng-binding">1 room + 1bath</label>
                          <span class="opacity-50 ng-binding"> Selangor, Malaysia</span>
                          <label class="fw-600 font-18 mrt-10 ng-binding">RM 2000</label>
                        </div>
                      </div>
                      <div ng-click="openDetail(v.id)" class="pdt-10 pdb-10 opacity-50 ng-binding">
                        1BR <i class="fa fa-circle font-8"></i> 1BA <i class="fa fa-circle font-8"></i> 622 Sq. ft.
                      </div>
                    </div>
                  </div><!-- end ngRepeat: (k,v) in properties --><div ng-repeat="(k,v) in properties" class="flex white-bg width-100 mrt-10 mrb-10 ng-enter-prepare">
                    <!-- <a ng-if="!v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="img/sample/default.png" class="list-img" style="max-width: 100%;">
                    </a>
                    <a ng-if="v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="{{v.pictures.image}}" class="list-img" style="max-width: 100%;">
                    </a> -->
                    <!-- ngIf: !v.pictures -->
                    <!-- ngIf: v.pictures --><img ng-if="v.pictures" ng-click="openDetail(v.id)" src="https://admin.rumah-i.com/uploads/properties/627b3a638bd33.jpeg" class="list-img" style="max-width: 46%;"><!-- end ngIf: v.pictures -->
                    <div class="flex flex-dc br-5 pdl-15 pdr-15 pdt-15 pdb-15" style="width: 54%;">
                      <div class="flex width-100">
                        <div class="flex flex-dc width-90" ng-click="openDetail(v.id)">
                          <label class="font-16 ng-binding">Private Entire Unit </label>
                          <span class="opacity-50 ng-binding"> Selangor, Malaysia</span>
                          <label class="fw-600 font-18 mrt-10 ng-binding">RM 1500</label>
                        </div>
                      </div>
                      <div ng-click="openDetail(v.id)" class="pdt-10 pdb-10 opacity-50 ng-binding">
                        1BR <i class="fa fa-circle font-8"></i> 1BA <i class="fa fa-circle font-8"></i> 622 Sq. ft.
                      </div>
                    </div>
                  </div><!-- end ngRepeat: (k,v) in properties --><div ng-repeat="(k,v) in properties" class="flex white-bg width-100 mrt-10 mrb-10 ng-enter-prepare">
                    <!-- <a ng-if="!v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="img/sample/default.png" class="list-img" style="max-width: 100%;">
                    </a>
                    <a ng-if="v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="{{v.pictures.image}}" class="list-img" style="max-width: 100%;">
                    </a> -->
                    <!-- ngIf: !v.pictures -->
                    <!-- ngIf: v.pictures --><img ng-if="v.pictures" ng-click="openDetail(v.id)" src="https://admin.rumah-i.com/uploads/properties/620cc9298d4bc.jpeg" class="list-img" style="max-width: 46%;"><!-- end ngIf: v.pictures -->
                    <div class="flex flex-dc br-5 pdl-15 pdr-15 pdt-15 pdb-15" style="width: 54%;">
                      <div class="flex width-100">
                        <div class="flex flex-dc width-90" ng-click="openDetail(v.id)">
                          <label class="font-16 ng-binding">Private Medium Room at South View, Bangsar So...</label>
                          <span class="opacity-50 ng-binding"> Federal Territory of Kuala Lumpur, Malaysia</span>
                          <label class="fw-600 font-18 mrt-10 ng-binding">RM 1250</label>
                        </div>
                      </div>
                      <div ng-click="openDetail(v.id)" class="pdt-10 pdb-10 opacity-50 ng-binding">
                        1BR <i class="fa fa-circle font-8"></i> 1BA <i class="fa fa-circle font-8"></i> 180 Sq. ft.
                      </div>
                    </div>
                  </div><!-- end ngRepeat: (k,v) in properties --><div ng-repeat="(k,v) in properties" class="flex white-bg width-100 mrt-10 mrb-10 ng-enter-prepare">
                    <!-- <a ng-if="!v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="img/sample/default.png" class="list-img" style="max-width: 100%;">
                    </a>
                    <a ng-if="v.pictures" ui-sref="openDetail(v.id)" target="_blank">
                      <img src="{{v.pictures.image}}" class="list-img" style="max-width: 100%;">
                    </a> -->
                    <!-- ngIf: !v.pictures -->
                    <!-- ngIf: v.pictures --><img ng-if="v.pictures" ng-click="openDetail(v.id)" src="https://admin.rumah-i.com/uploads/properties/632d47587a4a5.jpeg" class="list-img" style="max-width: 46%;"><!-- end ngIf: v.pictures -->
                    <div class="flex flex-dc br-5 pdl-15 pdr-15 pdt-15 pdb-15" style="width: 54%;">
                      <div class="flex width-100">
                        <div class="flex flex-dc width-90" ng-click="openDetail(v.id)">
                          <label class="font-16 ng-binding">NESTZ Medium Room @ Southview Residence, Bang...</label>
                          <span class="opacity-50 ng-binding"> Federal Territory of Kuala Lumpur, Malaysia</span>
                          <label class="fw-600 font-18 mrt-10 ng-binding">RM 1100</label>
                        </div>
                      </div>
                      <div ng-click="openDetail(v.id)" class="pdt-10 pdb-10 opacity-50 ng-binding">
                        1BR <i class="fa fa-circle font-8"></i> 1BA <i class="fa fa-circle font-8"></i> 130 Sq. ft.
                      </div>
                    </div>
                  </div><!-- end ngRepeat: (k,v) in properties -->
                </div>
              </div>
            </div>
            <!-- floating button BAcK to TOP -->
            <div class="floatingIcon">
              <i onclick="backToTop();" id="floatingIcon" class="fa fa-arrow-circle-o-up" aria-hidden="true" style="display: block;"></i>
            </div>
             <!-- ENd of floating button BAcK to TOP -->
          </div>
          <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127482.66722784376!2d101.61694947391018!3d3.1386749688799247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc362abd08e7d3%3A0x232e1ff540d86c99!2sKuala%20Lumpur%2C%20Federal%20Territory%20of%20Kuala%20Lumpur!5e0!3m2!1sen!2smy!4v1665562263665!5m2!1sen!2smy"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div style="position: relative; ">
            <div class="width-100 text-center" ng-show="properties.length > 0 &amp;&amp; !filter.display" style="">
              <label ng-show="mapview" id="listBtn" onclick="openList()" style="z-index: 3; width: 106px;position:absolute;top:-4rem;right:43%;" class="br-25 white-bg black-text pdt-15 pdb-15 pdr-20 pdl-20">List View <i class="fa fa-list"></i></label>
              <label ng-show="!mapview" id="mapViewBtn" onclick="closeList()" style="border: 0.5px solid black;z-index: 3;display:none; width: 115px;position:absolute;top:-3rem;right:41%;" class="br-25 white-bg black-text pdt-15 pdb-15 pdr-20 pdl-20" >Map View <i class="fa fa-map-o"></i></label>
            </div>
          </div>
          <!-- <div class = "container" style="position:relative;">
            <div class = "section" style=" position:absolute;top:-80px;width:100%;">
              <label ng-show="mapview" id="listBtn" onclick="openList()" style="z-index: 3;" class="br-25 white-bg black-text pdt-15 pdb-15 pdr-20 pdl-20">List View <i class="fa fa-list"></i></label>
              <label ng-show="!mapview" id="mapViewBtn" onclick="closeList()" style="z-index: 3;display:none" class="br-25 white-bg black-text pdt-15 pdb-15 pdr-20 pdl-20" >Map View <i class="fa fa-map-o"></i></label>
            </div>
          </div> -->

            <h1>FAQs</h1>
           
            <b>1. Is room for rent expensive in Kuala Lumpur? How much do i need to live in Kuala Lumpur?</b>
            <p>
              Although it is the most expensive city in Malaysia, housing is considerably affordable compared to North America. A room for rent in Kuala Lumpur costs 72% less than<br>
              in the US, making it the go-to settlement for most expats.
            </p>
        
            <b>2. How much do i need to live in Kuala Lumpur?</b>
            <p>
                The average cost of living per person in Kuala Lumpur is estimated to be RM3,300 monthly, according to themalaysianreverse.com.
            </p>
        
            <b>3. How much do i need to live comfortably in Kuala Lumpur?</b>>
            <p>
                If your monthly income is around RM2,500 to RM4,000, you might have to live more frugally. Anything above RM5,000 will afford you a cosy room for rent and a <br>
                relatively comfortable lifestyle in Kuala Lumpur.
            </p>
        
            <b>4. What is Kuala Lumpur known for?</b>
            <p>
                Kuala Lumpur us a bussing city hom eto  the iconic PETRONAS Twin Towers, Suria KLCC, expansive shopping malls, and excellent transportation.
            </p>
        
            <b>5. What is the average room rental in Kuala Lumpur?</b>
            <p>
                According to numbeo.com, the average rental for a threee-bedroom apartment in Kuala Lumpur city centre is RM3,655.90 per month.
            </p>
        
            <b>6. How do i get around in Kuala Lumpur?</b>
            <p>
                Kuala Lumpur has an extensive rail transportation system, serviced by KL Monorrail, Rapid KL, Light Rail Transit(LRT), and the KTM commuter train.
            </p>
        
            <h1>About Kuala Lumpur</h1>
            <p>
                A melting pot of cultures, Kuala Lumpur boasts iridescent skyscrapers, colonial architecture, various natural attractions, and a vibrant niht scene. Its central hub<br>
                consists  of districts such as Bukit Bintang, KLCC, and ChinaTown, so it would be good to search for a room to rent in these areas. 
              </br></br>
                KL is the most popularly known for the 88-storey tall PETRONAS Twin Towers, surrounded by a myriad of upscale shopping complexes like Pavillion KL and Suria KLCC<br>
                that features haute couture brands and streetwear fashions. Other attractions densely populated with tourists include Batu Caves and the Petalling Street flea market,<br>
                where you can find all kinds of goods to purchase.
              </br></br>
                Moreover, the metropolis hosts many unique gastronomic experiences, from hawker stalls to pet-freindly cafes and lavish restaurants with breathaking views.<br>
                Thespain and theatre lovers would also be delighted to find a brilliant acting community within KL, delivering stunning performances and shows in wide-ranging genres.
              </br></br>
                So, if you have the money to spare, finding a room for rent in Kuala Lumpur promisses an endlessly happening life.
            </p>
        
            <h1>Find Somewhere Else</h1>
            <p>Not the area you're looking fot? We can help you find a rom for rent anywhere in the Klang Valley.</p>
        </div>
        <div class="client-html">
          <footer class="footer">
          <div class="container" style="width:100%">
            <div class="f-content">
              <div class="f-top" style="border-top: 2px solid #f0f0f0">
                <hr />
                <div class="f-info row " >
                <div class="f-block f-rumah-block col-12 col-md-12 col-lg-4">
                  <div class="f-title">
                    <span>Rumah-i</span>
                  </div>
  
                  <div class="f-rumah">
                    <p>
                      Rumah-i is a home renting platform in Malaysia with a
                      one-stop solution for you. Here at Rumah-i, landlords and
                      tenants will be able to find comprehensive property
                      management services across all areas of residential
                      properties.
                    </p>
                  </div>
                </div>
                <div class="f-block f-popular-block col-12 col-md-6 col-lg-4 text-lg-start text-center">
                  <div class="f-title">
                    <span>Popular</span>
                  </div>
  
                  <div class="f-detail">
                    <ul>
                    <li><a ui-sref="search({query: 'Ampang'})" href="#!/search/Ampang">Ampang</a></li>
                    <li>
                      <a ui-sref="search({query: 'Bandar Sunway'})" href="#!/search/Bandar%20Sunway"
                        >Bandar Sunway</a
                      >
                    </li>
                    <li>
                      <a ui-sref="search({query: 'Bandar Utama'})" href="#!/search/Bandar%20Sunway"
                        >Bandar Utama</a
                      >
                    </li>
                    <li><a ui-sref="search({query: 'Bangsar'})" href="#!/search/Bangsar">Bangsar</a></li>
                    <li>
                      <a ui-sref="search({query: 'Bukit Jalil'})" href="#!/search/Bukit%20Jalil">Bukit Jalil</a>
                    </li>
                  </ul>
                  </div>
                </div>
                <div class="f-block f-contact-block col-12 col-md-6 col-lg-4 text-lg-start text-center">
                  <div class="f-title">
                    <span style="font-weight: bold">Contact Us</span>
                  </div>
  
                  <div class="f-detail">
                    <span style="font-weight: bold">HOMEPLUS 2 U SDN BHD</span>
                    <p>1347586-K (201901038256)</p>
                    <p>
                      <span style="font-weight: bold">Email:</span>
                      <a href="mailto:hello@ruhan-i.com">hello@rumah-i.com</a>
                    </p>
                    <p>
                      <span style="font-weight: bold">Phone:</span>
                      <a href="tel:60173329139">6017-332-9139</a>
                    </p>
                  </div>
                </div>
              </div>
                <hr />
  
                <div class="f-bottom">
                  <div class="f-block">
                    <a href="#!/sitemap" target="_blank">Sitemap&nbsp&nbsp;</a>
                    <a href="https://rent.rumah-i.com/term-of-use" target="_blank"
                      >Terms and Conditions&nbsp&nbsp;</a
                    >
                    <a href="https://rent.rumah-i.com/privacy-policy" target="_blank"
                      >Privacy Policy&nbsp&nbsp;</a
                    >
                    <a href="https://rent.rumah-i.com/rental-services-company" target="_blank"
                      >About Us&nbsp&nbsp;</a
                    >
                    <a href="https://rent.rumah-i.com/contact-us" target="_blank"
                      >Contact Us&nbsp&nbsp;</a
                    >
                  </div>
                </div>
  
                <div class="f-block f-right">
                  <p>2020 Copyright © HOMEPLUS 2 U SDN BHD</p>
                </div>
              </div>
            </div>
          </div>
        </footer> 
        </div>
        
        
        
    
    <script src="js/filter.js"></script>
    <script src="js/slider.js"></script>
    <script src="js/index.js"></script>
</body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"
  ></script>
</html>
