@media (min-width: 240px) and (max-width: 568px){
    .client-html .header .h-content{display: block;flex-direction: column;}
    .client-html .header .h-left { width: 0px; margin-left: 150px; justify-content: center;}
    .client-html .header .h-right {}
    .client-html .footer .f-content { display:block; text-align: center;} */
    .client-html .footer .f-block.f-info{display: block;}
    .client-html .footer .f-bottom a{display: block;}
    .client-html .footer .f-content .f-top {display: block;}
    }