@charset "utf-8";
/* CSS Document */

/*---------- Google Fonts ----------*/
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


body{
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #000000;
    margin: 0;
    overflow-y: auto;
}

.container{
    padding: 0 15px;
    float: none;
    margin: 0 auto;
    width: 1085px;
}

.client-html .header {
    background-color: #ffffff;
}
.client-html .header .h-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.client-html .header .h-left {
    display: inline-flex;
}

.client-html .header .h-left img {
   justify-content: center;
}

.client-html .header .h-right {
    display: inline-flex;
}

.client-html .header ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.client-html .header {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.client-html .header {
    display: inline-block;
}

.client-html .header .h-right img {
    width: 150px;
    display: inline-block;
}

/* Footer Start */
.client-html .footer {
    background-color: #ffffff;
}


.client-html .footer .f-top {
    padding: 0 20px;
}

.client-html .footer .f-title {
    padding: 0 0 10px;
}

.client-html .footer .f-title span {
    font-weight: 600;
    font-size: 14px !important;
    line-height: 20px !important;
    color: #000000;
}

.client-html .footer .f-block.f-rumah-block{
    padding: 20px;
    /* width: 50%; */
    line-height: 18px;
}

.client-html .footer .f-block.f-popular-block{
    padding: 10px;
    /* width: 25%; */
    vertical-align: top;
}

.client-html .footer .f-block.f-contact-block{
    line-height: 18px;
    /* width: 25%; */
}

.client-html .footer .f-block ul li {
    list-style: none; 
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
    line-height: 18px;
    
}

.client-html .footer .f-block a{
    color: #000000;
    text-decoration: none;
    
}

.client-html .footer .f-block a:hover{
    color: #ced4da;
    text-decoration: none;
}

.client-html .footer .f-block.f-info{
    display: flex;
}

.client-html .footer .f-bottom a{
    color: #ced4da;
}

.client-html .footer .f-bottom a:hover{
    color: #000000;
}




